<h4 class="display-4">Votre Commande</h4>
<hr>
<form [formGroup]="detailsCommandeForm">
    <input type="hidden" formControlName="DetailsID" class="form-control" />
    <input type="hidden" formControlName="CommandeID" class="form-control" />
    <input type="hidden" formControlName="NomProduit" class="form-control" />
  <div class="form-row">
    <div class="form-group col">
      <label>Produit</label>
      <select formControlName="ProduitID" class="form-control" (change)="mettreAJoutPrix($event.target)">
          <option value="0" disabled>--Sélectionner le produit--</option>
          <option *ngFor="let produit of listeProduit" value="{{produit.ProduitID}}">{{produit.ProduitID}} - {{produit.ProduitName}} : {{produit.Prix}} FCFA
          </option>
      </select>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col-md-6">
      <label>Quantité</label>
      <div class="input-group">
        <input type="text" value="0" min="1" max="99" formControlName="Quantite" class="form-control" 
        (keyup)="mettreAJourTotal()"/>
      </div>
    </div>
    <div class="form-group col">
      <label>Prix</label>
      <div class="input-group">
        <input type="text" formControlName="Prix" class="form-control" readonly />
        <div class="input-group-append">
          <span class="input-group-text">F CFA</span>
        </div>
      </div>
    </div>
  </div>
  <div class="form-row">
    <div class="form-group col">
      <label>Total</label>
      <div class="input-group">
        <input type="text" formControlName="Total" class="form-control" readonly />
        <div class="input-group-append">
          <span class="input-group-text">F CFA</span>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <button type="submit" class="btn btn-success btn-save" (click)="ajouterDetailsCommande()"> <i class="fa fa-plus"></i> Ajouter</button>
    <button class="btn btn-outline-dark ml-1" type="button" (click)="viderChamps()" [mat-dialog-close]> <i class="fa fa-close"></i> Cancel</button>
  </div>
</form>
